[package]
name = "evm"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
primitive-types = "0.12.0"
serde = { version = "1.0.145", features = ["derive"] }
serde_json = "1.0.86"
